body {
    margin-left: 200px;
    margin-right: 200px;
    background-image: url(./movie.png);
}

.container {
    display: flex;
    justify-content: space-around;
}

.films {
    padding-top: 10px;
    padding-bottom: 30px;
}

.card {
    padding-top: 5px;
}

.btn btn-outline-secondary{
    background-color: black;
}

.card:hover {
    transform: scale(1.1);
}

.input-group {
    margin: 0 auto;
    padding: 10px;
    max-width: 50%;
}